<%= render 'shared/error_messages', target: @user %>

  <% user_obj = f.object %>

  <% if use_name?(user_obj) %>
    <%= f.text_field :name %>
  <% end %>

  <% if use_username?(user_obj) %>
	    <%= f.text_field :username %>
  <% end %>

	<%= f.text_field :email %>
	<%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <% if use_gender?(user_obj) %>
	    <%= f.collection_select( :gender, User::VALID_GENDERS, :to_s, :to_s, {}, { :class => "auto-width" }) %>
  <% end %>

 <% if use_birthdate?(user_obj) %>
	     <%= f.date_select :birthdate,
                    {  :start_year => 1910,
                      :end_year => User::CURRENT_YEAR,
                    },
                    {
                    :class => "small"
                    }
       %>

  <% end %>

 <% if use_time_zone?(user_obj) %>
	  <div class="form-group">
	    <%= f.label :time_zone %>
      <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {}, { class: "form-control auto-width", id: "time-zone-select" } )%>
    </div>
  <% end %>

<% if false %>
  <% if require_name? %>
  	<div class="form-group">
	    <%= f.label :name %>
	    <%= f.text_field :name, class: 'form-control' %>
	  </div>
	<% end %>

  <% if require_username? %>
   	<div class="form-group">
	    <%= f.label :username %>
	    <%= f.text_field :username, class: 'form-control' %>
	  </div> 
  <% end %>

	<div class="form-group">
	  <%= f.label :email %>
	  <%= f.text_field :email, class: 'form-control'  %>
	</div>

	<div class="form-group">
	  <%= f.label :password %>
	  <%= f.password_field :password, class: 'form-control'  %>
	</div>

	<div class="form-group">
	  <%= f.label :password_confirmation, "Confirm Password" %>
	  <%= f.password_field :password_confirmation, class: 'form-control'  %>
	</div>

  <% if require_gender? %>
   	<div class="form-group">
	    <%= f.label :gender %>
	    <%= f.collection_select( :gender, User::VALID_GENDERS, :to_s, :to_s, {}, { :class => "small" }) %>
	  </div> 
  <% end %>

<% if require_birthdate? %>
   	<div class="form-group">
	    <%= f.label :birthdate %>
	     <%= f.date_select :birthdate,
                    {  :start_year => 1910,
                      :end_year => User::CURRENT_YEAR,
                    },
                    {
                    :class => "small"
                    }
       %>
	  </div> 

  <% end %>
<% end %>